<% include blocks/header.ejs %>
<% include blocks/navbar.ejs %>

    <h3>Здесь будут отображаться категории
    </h3>

    <% if(categories.length){ %>
      <ul>
          <!--// итерация-->
          <% categories.forEach((categories) => { %>
            <li class="category">
              <form action="/deactivate_category" method="POST">
                <label>
                  <% if(categories.active){ %>
                    <input type="checkbox" checked name="active">
                    <span><a href="/category/<%- categories.name %>"><%- categories.name %></a></span>
                  <% } else{ %>
                    <input type="checkbox" name="active">
                    <span class="deactive"><%- categories.name %></span>
                  <% } %>

                  <input type="hidden" value="<%- categories._id %>" name="id">
                  
                  <button class="btn btn-success" type="submit">Сохранить</button>
                </label>
              </form>
            </li>
          <% }) %>
        </ul>
    <% } else{ %>
      <p>Нет категорий</p>
    <% } %>

<% include blocks/footer.ejs %>
