<% include blocks/header.ejs %>
<% include blocks/navbar.ejs %>

    <h3>Здесь будут отображаться категории
    </h3>

    <% if(categories.length){ %>
      <ul>
          <!--// итерация-->
          <li class="category"><label><span>Статус</span><span>Услуга</span><span></span></label></li>
          <% categories.forEach((categories) => { %>
            
            <li class="category">
              <form id="form" action="/deactivate_category" method="POST">
                <label>
                  <% if(categories.active){ %>
                    <div class="switch">
                      <label>
                        <input type="checkbox" checked name="active" onclick="submit()">
                        <span class="lever"></span>
                      </label>
                    </div>
                    <span><a href="/category/<%- categories.name %>"><%- categories.name %></a></span>
                  <% } else{ %>
                    <div class="switch">
                      <label>
                        <input type="checkbox" name="active" onclick="submit()">
                        <span class="lever"></span>
                      </label>
                    </div>
                    <span class="deactive"><%- categories.name %></span>
                  <% } %>

                  <input type="hidden" value="<%- categories._id %>" name="id">
                  <button class="btn btn-success" type="submit">Сохранить</button>
                </label>
              </form>
            </li>
          <% }) %>
        </ul>
    <% } else{ %>
      <p>Нет категорий</p>
    <% } %>

  <script>
    function submit() {
      document.getElementById('form').submit();
  </script>

<% include blocks/footer.ejs %>